@import '../../../../scss/color.scss';

#state{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
    gap: 1rem;
    padding: 1rem;

    .point{
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        width: 100%;
        border-radius: 100%;
        border: solid var(--bg-invert-1) 2px;

        &.active{
            border: solid var(--primary) 2px;
            color: var(--primary);
        }
    }
    .line{
        height: 2px;
        width: 100%;
        background-image: linear-gradient(90deg, var(--primary) 50%, var(--bg-invert-1) 50%);
        background-size:  200% 100%;
        background-position: right;
        align-self: center;
        transition: all 2s ease;

        &.active{
            background-position: left;
        }
    }

    
}