$width: 150px;
$width2: 70px;

#page{
    display:flex;

    #sidenav{
        position: -webkit-sticky;
        position: fixed;
        top: 0;
        width: $width;
        border-right: 1px solid var(--text-invert-4);
        height: 100%;
    }

    #content{
        width: 100%;
        margin-left: $width;
        padding: 0 1rem 0 1rem;
        min-height: 100vh;
    }
}

@media  (max-width: 800px){
    #page{
        #sidenav{
            width: $width2;
        }

        #content{
            margin-left: calc($width2);
        }
    }
}
