$width: 200px;
$width2: 70px;

#page{
    display:flex;

    #sidenav{
        position: -webkit-sticky;
        position: fixed;
        top: 0;
        width: $width;
        border-right: 1px solid var(--text-invert-2);
        height: 100%;
    }

    #content{
        width: 100%;
        margin-left: calc($width + 1rem);
    }
}

@media  (max-width: 800px){
    #page{
        #sidenav{
            width: $width2;
        }
    
        #content{
            margin-left: calc($width2 + 0.5rem);
        }
    }
}