@import '../../../scss/color.scss';

#page{

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    #off{
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    #form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        p{
            margin: 0;
            &.title{
                font-weight: 800;
                font-size: 1.8em;
                color: var(--primary);
            }
            &.subtitle{
                font-weight: 500;
                font-size: 0.9em;
                color: var(--text-3);
            }
        }
    }
}
