<div id="page"  >
    <form id="form" class="bg" [formGroup]="loginFormulaire" (submit)="onFormSubmit()">
        <div id="header">
            <p class="title">Welcome:</p>
            <p class="subtitle">Please log in to your account.</p>
        </div>
        <div id="content">
            <input-text [control]="loginFormulaire.controls.username" label="Username" icon="user" placeholder="Enter your username"></input-text>
            <input-password [control]="loginFormulaire.controls.password" label="Password" icon="lock" placeholder="Enter your password"></input-password>
        </div>
        <div id="action">
            <input-button text="Log in" icon="arrow-right" [disabled]="loginFormulaire.invalid"/>
        </div>
    </form>
</div>