@import '../../../scss/color.scss';

#page{

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    
        p{
            margin: 0;
            &.title{
                font-weight: 800;
                font-size: 1.8em;
                color: var(--primary);
            }
            &.subtitle{
                font-weight: 600;
                font-size: 0.9em;
                color: var(--text-4);
            }
        }
    }
}
