@import '../../../scss/color.scss';

#chip{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    width: fit-content;
    background-color: var(--primary);
    color: var(--text-invert-1);
    padding: 0.20rem 0.40rem;
    font-size: 0.75em;
    font-weight: 400;
    border-radius: 0.75rem;

    &.lg{
        padding: 0.40rem 0.80rem;
    }

    #cross{
        border-radius: 100%;
        cursor: pointer;
        padding: 0.1rem;

        &:hover{
            background-color: var(--primary-2);
        }
    }

}