$width: 2rem;
$height: 2rem;
$gap: 1rem;

.p-folder, .p-file{
    display:flex;
    align-items: center;
    gap: 0.5rem;
}
.p-folder{
    font-size: 0.9rem;
}
.p-file{
    font-size: 0.8rem;
}

#container{
    display: flex;
    gap: $gap;

    #folder, #result{
        padding: $height $width;
        background-color: var(--bg-1);
        border-radius: 0.5rem;
    }
}
#confirmation{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
#info{
    padding: $height $width;
    background-color: var(--bg-1);
    border-radius: 0.5rem;
    margin-bottom: $gap;

    p{
        font-size: 0.8em;
        font-weight: 500;
    }
}
#wrapper{
    width: fit-content;
}