
@if(directory){
    <ul>
        <ng-container
          *ngTemplateOutlet="Recursion; context:{ directory: directory}"
        ></ng-container>
      </ul>
    
    
      
    <ng-template #Recursion let-directory="directory">
      <div style="margin-left: 20px;">
        <h4>
            <app-icon icon="folder"></app-icon>
             {{ directory.name }}
        </h4>
        @for(file of directory.files; track $index){
            <h5>
                <app-icon icon="musique"></app-icon>
                {{ file.name }}
            </h5>
        }
        <hr>
        @for(directory of directory.directories; track $index){
          <ng-container
            *ngTemplateOutlet="Recursion; context:{ directory: directory }"
          ></ng-container>
        }
      </div>
    
        
      </ng-template>
      
}
<button class="button" (click)="onValidate()">Validate</button>
