$width: 2rem;
$height: 2rem;
$gap: 1rem;

.p-folder, .p-file{
    display:flex;
    align-items: center;
    gap: 0.5rem;
}
.p-folder{
    font-size: 0.9rem;
}
.p-file{
    font-size: 0.8rem;
}


#confirmation{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
#info, #folder, #result{
    p{
        font-size: 0.8em;
        font-weight: 500;
    }
}
#info{
    grid-column: 1 / span 2;
}
#wrapper{
    display:grid;
    gap: $gap;
    grid-template-columns: 1fr 1fr;

}