#container{
  margin-top: 1rem;

  #grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    min-height: 20vh;
    max-height: 80vh;
    aspect-ratio: 1/1;
    border: solid var(--text-3) 2px;
    border-radius: 0.5rem;
    background-color: var(--bg-2);
  }

}