
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid var(--text-invert-4);

    button{
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        border-radius: 100%;
        padding: 0.5rem;
        cursor: pointer;
        transition: all 0.2s;
        color: var(--text);

        &:hover{
            background-color: var(--bg-1);
        }

    }

    #title{
        h1{
            position: relative;
            font-family: "Playwrite AR", cursive;
            color: var(--text-4);
            font-size: 1.6em;
            padding: 0 0.5rem;
            // span{
            //     font-size: 1.3em;
            //     background:

            //       radial-gradient(
            //         closest-side at 90% 65%,
            //         var(--primary-1),
            //         transparent
            //       ),
            //       radial-gradient(
            //         closest-side at 45% 75%,
            //         var(--primary-1),
            //         transparent
            //       ),
            //       radial-gradient(
            //         closest-corner at 12% 32%,
            //         var(--primary-1),
            //         var(--text-2)
            //       );
            //     -webkit-background-clip: text;
            //     background-clip: text;
            //     color: transparent;

            // }
        }
    }

    #action{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

@media (max-width: 800px){
    header{
        #title{
            h1{
                font-size: 1.1em;
                span{
                    font-size: 1.3em;
                }
            }
        }
    }
}
