#container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    color: var(--text-5);
    transition: all 0.2s ease;

    &:hover{
        color: var(--text-1);
        gap: 0.75rem;
    }
}