
button{
    border: none;
    background-color: var(--bg-1);
    padding: 0.6rem 1.2rem;
    border-radius: 0.3rem;
    transition: all 0.2s ease;
    cursor: pointer;
    text-align: start;

    &:hover{
        background-color: var(--bg-3);
    }

    p{
        color: var(--text-1);
        span{
            font-weight: 600;
            color: var(--text-2);
            margin-right: 0.25rem;
        }
    }

}
#selection{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
h5{
    text-align: center;
}