<form [formGroup]="newTitleForm" (ngSubmit)="onFormulaireSubmit()">
    <input-text icon="pencil" label="title" [control]="newTitleForm.controls.title"></input-text>
</form>

<div>
    @for(volume of apiResponse;track $index){
        <button (click)="onBookChoosen(volume)">
            <p><span>Title:</span> {{ volume.title }}</p>
            <p><span>Authors:</span> 
                @for(author of volume.authors; track $index){
                    {{ author }}
                }
            </p>
        </button>
        

    }
</div>
