<div id="nav">
  <div id="svg-ajout"></div>
  <div id="svg-container">
    <svg id="visual" viewBox="0 0 675 900" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" ></rect><path d="M0 290L22.5 266.8C45 243.7 90 197.3 135 212.3C180 227.3 225 303.7 270 307.8C315 312 360 244 405 243.5C450 243 495 310 540 325C585 340 630 303 652.5 284.5L675 266L675 0L652.5 0C630 0 585 0 540 0C495 0 450 0 405 0C360 0 315 0 270 0C225 0 180 0 135 0C90 0 45 0 22.5 0L0 0Z"  stroke-linecap="round" stroke-linejoin="miter"></path></svg>
  </div>
    <nav>
        <ul>
            <li>
                <a routerLink="home" routerLinkActive="active" aria-label="go to home page">
                    <app-icon size="1.3rem" icon="home"></app-icon>
                    <div>
                        Home
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="librairy" routerLinkActive="active" aria-label="got to librairy page">
                    <app-icon size="1.3rem" icon="book"></app-icon>
                    <div>
                        Librairy
                    </div>
                </a>
            </li>
            @if(isAdmin){
                <li>
                    <a routerLink="librairy-management" routerLinkActive="active" aria-label="got to librairy management page">
                        <app-icon size="1.3rem" icon="pencil"></app-icon>
                        <div>
                            Librairy Management
                        </div>
                    </a>
                </li>
                <li>
                    <a routerLink="api-settings" routerLinkActive="active" aria-label="got to api settings page">
                        <app-icon size="1.3rem" icon="setting"></app-icon>
                        <div>
                            Api Settings
                        </div>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
