<div id="nav">
    <nav>
        <ul>
            <li>
                <a routerLink="home" routerLinkActive="active">
                    <app-icon size="1.3rem" icon="home"></app-icon>
                    <div>
                        Home
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="librairy" routerLinkActive="active">
                    <app-icon size="1.3rem" icon="book"></app-icon>
                    <div>
                        Librairy
                    </div>
                </a>
            </li>
            @if(isAdmin){
                <li>
                    <a routerLink="librairy-management" routerLinkActive="active">
                        <app-icon size="1.3rem" icon="pencil"></app-icon>
                        <div>
                            Librairy Management
                        </div>
                    </a>
                </li>
                <li>
                    <a routerLink="api-settings" routerLinkActive="active">
                        <app-icon size="1.3rem" icon="setting"></app-icon>
                        <div>
                            Api Settings
                        </div>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
