#svg-container{
  overflow: hidden;
  width: 100%;
  height: 100px;
  svg{
    width: 100%;
    fill: var(--bg) !important;
    path{
      fill: var(--primary)
    }
  }
}
#svg-ajout{
  height: 70px;
  width: 100%;
  background-color: var(--primary);
}

nav{
    margin-top: 1rem;


    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            margin-bottom: 1rem;
            color: var(--text-5);
            transition: color 0.2s ease;
            border-left: solid transparent 5px;
            a{
                padding: 1rem 0;
                height: 100%;
                text-decoration: none;
                display: flex;
                gap: 0.5rem;
                color: inherit;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;

                div{
                  text-align: center;
                }
            }

            &:hover{
                color: var(--text);
            }

            &:has(.active){
                border-left: solid var(--primary) 5px;
                color: var(--text);
            }
        }
    }
}

@media (max-width: 800px){
    a{
        div{
            display: none;
        }
    }
}
