<input type="file" webkitdirectory (drop)="onDrop($event)" (change)="onChange($event)" />
<h3>Affichage:</h3>
@if(directory){
<ul>
    <ng-container
      *ngTemplateOutlet="Recursion; context:{ directory: directory}"
    ></ng-container>
  </ul>


  
<ng-template #Recursion let-directory="directory">
    <h4>Directory : {{ directory.name }}</h4>
    @for(file of directory.files; track $index){
        <h5>File name: {{ file.name }}</h5>
    }
    <hr>
    @if(directory.directory){
        <ng-container
          *ngTemplateOutlet="Recursion; context:{ directory: directory.directory }"
        ></ng-container>
    }
  </ng-template>
    
    
        
    
}

