@import '../../../scss/color.scss';

.message-container{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    .message{
        padding: 1.5rem 2.25rem;
        border-left: solid 0.55rem var(--valid);
        background-color: var(--bg-invert-2);
        color: var(--text-invert-3);

        &.error{
            border-left: solid 0.35rem var(--invalid);
        }

        p{
            font-size: 0.8em;
        }
    }
}