<div class="page">
    <div class="card-container">
        @for(book of bookListShow; track $index){
            <div class="card" (click)="goToBook(book)">
                <div class="image" >
                    <img [src]="book.image.imagePath" alt="" [style.view-transition-name]="bookIdSelected == book.id_book ? 'card-image' : 'none'" class="view-test">
                </div>
                <div class="text">
                    <p class="title">{{ book.title }}</p>
                </div>
            </div>
        }
        @empty {
          <p class="information">No book in database. <span class="emoji">&#9785;</span></p>
        }
    </div>
</div>
