
@import './color.scss';

$height: 1.75rem;
$height-area: 6.75rem;
$radius: 0.25rem;

.input-container:has(input){
    max-width: 15rem;
}
.input-container:has(textarea){
    max-width: 35rem;
}

.input-container{
    margin: 0.5rem 0 1rem 0;

    label{
       font-size: 0.9em;
       font-weight: 400;
       margin-bottom: 0.25rem;
       display: block;
       letter-spacing: 0.05rem;

    }

    .input-item{
        border: solid 1px var(--bg-6);
        background-color: var(--bg-1);
        border-radius: 0.25rem;
        padding: 0.25rem 0.5rem;
        display: flex;
        align-items: center;

        input{
            color: inherit;
            border: none;
            outline: none;
            height: $height;
            background-color: transparent;
            padding: 0 0.5rem;
            width: 100%;
        }

        textarea{
            color: inherit;
            border: none;
            outline: none;
            height: $height-area;
            background-color: transparent;
            padding: 0.5rem 0.5rem;
            resize: none;
            width: 100%;
        }

        &:focus-within{
            border: solid 1px transparent;
            outline: solid 2px var(--primary);
        }

        &:hover:not(:focus-within){
          border: solid 1px var(--bg-4);
          cursor:text;
        }


        &.disabled{
            background-color: var(--bg-1);
            color: var(--bg-5);
        }
    }

}

button.button {
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 0.7rem 1.2rem;
    border-radius: $radius;
    cursor: pointer;

    &:hover{
        background-color: var(--primary-1);
    }

    &:disabled{
        background-color: var(--bg-2);
        cursor: default;
        p{
            color: var(--text-4);
        }
    }

    p{
        margin: 0;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: white;
    }
}
